html {
    scroll-padding-top: 9rem;
}

body {
    background-image: url(../image/backgroundall.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(137, 98, 40, 0.2);
    color: rgb(137, 98, 40);
    margin: 0;

}

footer {
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;

}

h1 {
    padding-top: 15vh;
    font-size: 8vh;
}

h3,
h6 {
    font-size: 2vw;
}

iframe {
    width: 100%;
    height: 20rem;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;

}

#image {
    margin: auto;
    width: 30vh;
}

form {
    background-color: rgba(137, 98, 40, 0.2);
    width: 50%;
    margin: auto;
    padding: 0.2vh;
    font-size: 4vh;
}

#digits {
    width: 2.5rem;
}

#date {
    width: 3rem;

}

footer>iframe {
    height: 22rem;
}

#recomends {
    display: flex;
    margin: 5vw;
    margin-right:15rem;


}

input {
    font-size: 0.8rem;
    margin: 1rem;
    padding: 0.2rem;
    border: none;
    background-color: rgba(137, 98, 40, 0.1);
}

.man {
    border: 2px solid;
    margin: 1rem 7.5rem;
    border-radius: 200%;
    width: 40%;
}

#logotop {
    display: none;
}

#send {
    background-color: rgba(137, 98, 40, 0.7);
    height: 3rem;
    width: 5rem;
    border-radius: 30%;
}

@media(max-width:400px) {
    body {
        background-image: url(../image/backgroundall.png);
        background-size: 100%;
        background-repeat: repeat;
        text-align: center;
        font-size: 4vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgba(137, 98, 40, 0.2);
        color: rgb(137, 98, 40);
    }

    h1 {
       font-weight: bold;
        text-align: center;
        font-size: 4.5vh;
        color: rgb(137, 98, 40);
    }

    h3,
    h6 {
        padding-right: 2rem;
        padding-left: 2rem;

    }

    iframe {
        width: 100%;
    }

    header {
        width: 100%;
        position: fixed;
        margin-right: 0px;
    }

    form {
        background-color: rgba(137, 98, 40, 0.2);
        width: 90%;
        margin: auto;
        padding: 1vh;
        font-size: 4vh;
    }

    footer>iframe {
        height: 55vh;
    }

    img {
        display: block;
        width: 30%;
        margin-right: 35%;
        margin-top: 35%;

    }

    #logotop {
        display: block;
        width: 30%;
        margin: 0px;
        margin-right: 35%;
    }

    #recomends {
        display: block;
        margin: 5vw;

    }

    input {
        margin: 1vw;
        border: none;
        background-color: rgba(137, 98, 40, 0.1);
    }

    h3 {
        font-size: 4vh;
    }

    h6 {
        font-size: 3vh;
    }

    .man {
        border: 2px solid;
        margin: auto;
        border-radius: 200%;
        width: 20%;
        margin-top: 5vh;
    }

}